@import "tailwindcss";

body {
    font-family: 'Poppins';
    margin: 0;
    padding:0;
    background-color: #181818;
}

.App{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


