body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
    font-family: 'Inter', sans-serif;

}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}